In [2]:
import os
import pandas as pd
import numpy as np

In [6]:
results_df = pd.read_csv('F1KaggleData/results.csv')
races_df = pd.read_csv('F1KaggleData/races.csv')
drivers_df = pd.read_csv('F1KaggleData/drivers.csv')
laptimes_df = pd.read_csv('F1KaggleData/laptimes.csv')

In [7]:
display(results_df.sample(20))

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
19018,19019,790,501,105,12.0,12,NaN,R,10,0.0,13,NaN,NaN,NaN,NaN,NaN,NaN,25
21051,21054,852,5,205,20.0,16,15.0,15,15,0.0,43,NaN,NaN,35.0,15.0,01:54.1,221.08,11
11954,11955,496,175,27,25.0,17,NaN,R,22,0.0,6,NaN,NaN,NaN,NaN,NaN,NaN,20
12511,12512,517,119,21,29.0,16,5.0,5,5,2.0,70,+1:04.31,6063840.0,NaN,NaN,NaN,NaN,1
9901,9902,423,172,27,26.0,16,6.0,6,6,1.0,77,NaN,NaN,NaN,NaN,NaN,NaN,11
13864,13865,565,200,1,12.0,11,5.0,5,5,2.0,77,NaN,NaN,NaN,NaN,NaN,NaN,11
11799,11800,491,117,4,15.0,2,NaN,R,15,0.0,17,NaN,NaN,NaN,NaN,NaN,NaN,99
17080,17081,703,358,170,10.0,12,14.0,14,14,0.0,62,NaN,NaN,NaN,NaN,NaN,NaN,5
2346,2347,130,11,17,10.0,16,NaN,R,21,0.0,22,NaN,NaN,NaN,NaN,NaN,NaN,20
2854,2855,154,58,18,20.0,22,13.0,13,13,0.0,31,NaN,NaN,NaN,NaN,NaN,NaN,15
9854,9855,421,182,1,1.0,7,NaN,R,11,0.0,49,NaN,NaN,NaN,NaN,NaN,NaN,5
2293,2294,128,18,4,15.0,6,12.0,12,12,0.0,60,NaN,NaN,NaN,NaN,NaN,NaN,9
1992,1993,113,50,18,19.0,20,NaN,R,19,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,8
21279,21282,862,1,1,4.0,7,3.0,3,3,15.0,56,26.012,5812941.0,40.0,6.0,01:40.5,195.201,1
6544,6545,307,57,32,11.0,25,5.0,5,5,2.0,58,NaN,NaN,NaN,NaN,NaN,NaN,13
13656,13657,557,172,27,26.0,10,7.0,7,7,0.0,58,NaN,NaN,NaN,NaN,NaN,NaN,11
2555,2556,140,66,7,25.0,18,NaN,W,20,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,73
3610,3611,188,64,15,12.0,13,NaN,R,22,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,4
19498,19499,811,498,105,2.0,3,NaN,R,16,1.0,11,NaN,NaN,NaN,NaN,NaN,NaN,37
4004,4005,207,14,1,10.0,4,1.0,1,1,10.0,58,30:28.7,5428718.0,NaN,NaN,NaN,NaN,1

In [12]:
# Find the fastest lap for a given race. 

def enrich_lap_times(races_df, laptimes_df, drivers_df):

    races_narrow_df = races_df[['raceId', 'year', 'name']]
    drivers_narrow_df = drivers_df[['driverId','driverRef']]

    enriched_laptimes_df = pd.merge(laptimes_df, races_narrow_df, on='raceId')
    return pd.merge(enriched_laptimes_df, drivers_narrow_df, on='driverId')


enriched_laptimes_df = enrich_lap_times(races_df, laptimes_df, drivers_df)

display(enriched_laptimes_df.sample(10))

,raceId,driverId,lap,position,time,milliseconds,year,name,driverRef
141,843,20,28,1,1:43.111,103111,2011,Chinese Grand Prix,vettel
243473,904,824,26,19,1:34.733,94733,2014,Spanish Grand Prix,jules_bianchi
224033,15,8,29,5,1:33.495,93495,2009,Japanese Grand Prix,raikkonen
294920,200,35,29,6,1:14.966,74966,1998,Austrian Grand Prix,villeneuve
280925,161,56,24,10,1:28.867,88867,2000,British Grand Prix,irvine
41336,940,13,1,20,3:22.315,202315,2015,Japanese Grand Prix,massa
185252,346,30,51,9,1:34.943,94943,2010,British Grand Prix,michael_schumacher
212096,860,8,28,8,1:32.399,92399,2012,Australian Grand Prix,raikkonen
156689,858,22,51,12,1:44.797,104797,2011,Abu Dhabi Grand Prix,barrichello
199726,910,817,43,1,1:29.545,89545,2014,Hungarian Grand Prix,ricciardo

In [40]:
fastest_laps = enriched_laptimes_df.loc[enriched_laptimes_df.groupby(['year', 'name'])['milliseconds'].idxmin()]

pd.set_option('display.max_rows', 100)

fastest_laps_minimal = fastest_laps[['year','name','driverRef', 'milliseconds']]

# display(fastest_laps_minimal)
display(fastest_laps_minimal.loc[fastest_laps_minimal['year'] == 1996])
# display(fastest_laps_minimal)

        year                   name           driverRef  milliseconds
283232  1996   Argentine Grand Prix               alesi         89413
292542  1996  Australian Grand Prix          villeneuve         93421
288602  1996     Belgian Grand Prix              berger        113067
289661  1996   Brazilian Grand Prix          damon_hill         81547
293088  1996     British Grand Prix          villeneuve         89288
292993  1996    Canadian Grand Prix          villeneuve         81916
289794  1996    European Grand Prix          damon_hill         81363
293043  1996      French Grand Prix          villeneuve         78610
290112  1996      German Grand Prix          damon_hill        106504
290198  1996   Hungarian Grand Prix          damon_hill         80093
175045  1996     Italian Grand Prix  michael_schumacher         86110
293450  1996    Japanese Grand Prix          villeneuve        104043
283360  1996      Monaco Grand Prix               alesi         85205
293383  1996  Portuguese Grand Prix          villeneuve         82873
289855  1996  San Marino Grand Prix          damon_hill         88931
174741  1996     Spanish Grand Prix  michael_schumacher        105517