In [ ]:
import os
import pandas as pd
import numpy as np

In [55]:
drivers_df = pd.read_csv('F1KaggleData/drivers.csv')
races_df = pd.read_csv('F1KaggleData/races.csv')
circuits_df = pd.read_csv('F1KaggleData/circuits.csv')
results_df = pd.read_csv('F1KaggleData/results.csv')

In [ ]:
display(drivers_df.head(5))
display(races_df.head(5))
display(circuits_df.head(5))
display(results_df.head(5))

In [ ]:
display('Total Number of Circuits used in F1: {}'.format(circuits_df['circuitId'].max()))
display('Total Drivers in F1: {}'.format(drivers_df['driverId'].max()))

Drivers with a win?  

How do we work this out...

In [ ]:
wins_df = results_df.loc[results_df['position'] == 1.0]

display(wins_df.sample(10))

drivers_with_wins = wins_df['driverId'].unique()

display(drivers_with_wins)

display('{} drivers in F1 have won a race'.format(len(drivers_with_wins)))

names_of_drivers_with_wins = drivers_df[['driverRef', 'nationality']].loc[drivers_df['driverId'].isin(drivers_with_wins)]

display(names_of_drivers_with_wins)

In [ ]:
# can we get a pie chart of the nationality breakdown

winners_by_nationality = names_of_drivers_with_wins['nationality'].value_counts()


names_of_drivers_with_wins['nationality'].value_counts().plot.pie(subplots=True)


# display(winners_by_nationality)

In [62]:
# ok, lets try winners by decade here. 

# however lets do this via some dictionary comprehension 

# pandas first
display(results_df.head(5))
# display(races_df.head(5))

first_race = races_df['date'].min()
display('Date of First Race in dataset: {}'.format(first_race))
last_race = races_df['date'].max()
display('Date of Last Race in dataset: {}'.format(last_race))

# sort it becuase this current format hurts my brain 
races_df.sort_values(by=['date'], inplace=True)
display(races_df.head(5))
list_of_dates = races_df['date'].values
# display(list_of_dates)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,1
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,5.478,5696094.0,41.0,3.0,01:27.7,217.586,1
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,8.163,5698779.0,41.0,5.0,01:28.1,216.719,1
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,17.181,5707797.0,58.0,7.0,01:28.6,215.464,1
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,18.014,5708630.0,43.0,1.0,01:27.4,218.385,1

'Date of First Race in dataset: 1950-05-13'

'Date of Last Race in dataset: 2018-11-25'

,raceId,year,round,circuitId,name,date,time,url
832,833,1950,1,9,British Grand Prix,1950-05-13,,http://en.wikipedia.org/wiki/1950_British_Gran...
833,834,1950,2,6,Monaco Grand Prix,1950-05-21,,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
834,835,1950,3,19,Indianapolis 500,1950-05-30,,http://en.wikipedia.org/wiki/1950_Indianapolis...
835,836,1950,4,66,Swiss Grand Prix,1950-06-04,,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
836,837,1950,5,13,Belgian Grand Prix,1950-06-18,,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [64]:
display(results_df.head(10))

winner_per_race = drivers_df.loc[drivers_df['driverId'].isin(drivers_with_wins)]

display(winner_per_race)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,1
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,5.478,5696094.0,41.0,3.0,01:27.7,217.586,1
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,8.163,5698779.0,41.0,5.0,01:28.1,216.719,1
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,17.181,5707797.0,58.0,7.0,01:28.6,215.464,1
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,18.014,5708630.0,43.0,1.0,01:27.4,218.385,1
5,6,18,6,3,8.0,13,6.0,6,6,3.0,57,NaN,NaN,50.0,14.0,01:29.6,212.974,11
6,7,18,7,5,14.0,17,7.0,7,7,2.0,55,NaN,NaN,22.0,12.0,01:29.5,213.224,5
7,8,18,8,6,1.0,15,8.0,8,8,1.0,53,NaN,NaN,20.0,4.0,01:27.9,217.18,5
8,9,18,9,2,4.0,2,NaN,R,9,0.0,47,NaN,NaN,15.0,9.0,01:28.8,215.1,4
9,10,18,10,7,12.0,18,NaN,R,10,0.0,43,NaN,NaN,23.0,13.0,01:29.6,213.166,3

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
7,8,raikkonen,7.0,RAI,Kimi,RÌ_ikkÌ¦nen,17/10/1979,Finnish,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...
8,9,kubica,NaN,KUB,Robert,Kubica,07/12/1984,Polish,http://en.wikipedia.org/wiki/Robert_Kubica
12,13,massa,19.0,MAS,Felipe,Massa,25/04/1981,Brazilian,http://en.wikipedia.org/wiki/Felipe_Massa
13,14,coulthard,NaN,COU,David,Coulthard,27/03/1971,British,http://en.wikipedia.org/wiki/David_Coulthard
14,15,trulli,NaN,TRU,Jarno,Trulli,13/07/1974,Italian,http://en.wikipedia.org/wiki/Jarno_Trulli
16,17,webber,NaN,WEB,Mark,Webber,27/08/1976,Australian,http://en.wikipedia.org/wiki/Mark_Webber
17,18,button,22.0,BUT,Jenson,Button,19/01/1980,British,http://en.wikipedia.org/wiki/Jenson_Button
19,20,vettel,5.0,VET,Sebastian,Vettel,03/07/1987,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
20,21,fisichella,NaN,FIS,Giancarlo,Fisichella,14/01/1973,Italian,http://en.wikipedia.org/wiki/Giancarlo_Fisichella
21,22,barrichello,NaN,BAR,Rubens,Barrichello,23/05/1972,Brazilian,http://en.wikipedia.org/wiki/Rubens_Barrichello
22,23,ralf_schumacher,NaN,SCH,Ralf,Schumacher,30/06/1975,German,http://en.wikipedia.org/wiki/Ralf_Schumacher
29,30,michael_schumacher,NaN,MSC,Michael,Schumacher,03/01/1969,German,http://en.wikipedia.org/wiki/Michael_Schumacher
30,31,montoya,NaN,MON,Juan,Pablo Montoya,20/09/1975,Colombian,http://en.wikipedia.org/wiki/Juan_Pablo_Montoya
34,35,villeneuve,NaN,VIL,Jacques,Villeneuve,09/04/1971,Canadian,http://en.wikipedia.org/wiki/Jacques_Villeneuve
43,44,panis,NaN,NaN,Olivier,Panis,02/09/1966,French,http://en.wikipedia.org/wiki/Olivier_Panis
48,49,frentzen,NaN,NaN,Heinz-Harald,Frentzen,18/05/1967,German,http://en.wikipedia.org/wiki/Heinz-Harald_Fren...
54,55,alesi,NaN,NaN,Jean,Alesi,11/06/1964,French,http://en.wikipedia.org/wiki/Jean_Alesi
55,56,irvine,NaN,NaN,Eddie,Irvine,10/11/1965,British,http://en.wikipedia.org/wiki/Eddie_Irvine
56,57,hakkinen,NaN,NaN,Mika,HÌ_kkinen,28/09/1968,Finnish,http://en.wikipedia.org/wiki/Mika_H%C3%A4kkinen
64,65,herbert,NaN,NaN,Johnny,Herbert,25/06/1964,British,http://en.wikipedia.org/wiki/Johnny_Herbert
70,71,damon_hill,NaN,NaN,Damon,Hill,17/09/1960,British,http://en.wikipedia.org/wiki/Damon_Hill
76,77,berger,NaN,NaN,Gerhard,Berger,27/08/1959,Austrian,http://en.wikipedia.org/wiki/Gerhard_Berger
94,95,mansell,NaN,NaN,Nigel,Mansell,08/08/1953,British,http://en.wikipedia.org/wiki/Nigel_Mansell
101,102,senna,NaN,NaN,Ayrton,Senna,21/03/1960,Brazilian,http://en.wikipedia.org/wiki/Ayrton_Senna
104,105,alboreto,NaN,NaN,Michele,Alboreto,23/12/1956,Italian,http://en.wikipedia.org/wiki/Michele_Alboreto
116,117,prost,NaN,NaN,Alain,Prost,24/02/1955,French,http://en.wikipedia.org/wiki/Alain_Prost
...,...,...,...,...,...,...,...,...,...
393,394,baghetti,NaN,NaN,Giancarlo,Baghetti,25/12/1934,Italian,http://en.wikipedia.org/wiki/Giancarlo_Baghetti
402,403,phil_hill,NaN,NaN,Phil,Hill,20/04/1927,American,http://en.wikipedia.org/wiki/Phil_Hill
403,404,ireland,NaN,NaN,Innes,Ireland,12/06/1930,British,http://en.wikipedia.org/wiki/Innes_Ireland
426,427,trintignant,NaN,NaN,Maurice,Trintignant,30/10/1917,French,http://en.wikipedia.org/wiki/Maurice_Trintignant
448,449,ward,NaN,NaN,Rodger,Ward,10/01/1921,American,http://en.wikipedia.org/wiki/Rodger_Ward
475,475,moss,NaN,NaN,Stirling,Moss,17/09/1929,British,http://en.wikipedia.org/wiki/Stirling_Moss
476,476,trips,NaN,NaN,Wolfgang,von Trips,04/05/1928,German,http://en.wikipedia.org/wiki/Wolfgang_Graf_Ber...
479,479,brooks,NaN,NaN,Tony,Brooks,25/02/1932,British,http://en.wikipedia.org/wiki/Tony_Brooks
498,498,gonzalez,NaN,NaN,JosÌ© FroilÌÁn,GonzÌÁlez,05/10/1922,Argentine,http://en.wikipedia.org/wiki/Jos%C3%A9_Froil%C...
509,509,rathmann,NaN,NaN,Jim,Rathmann,16/07/1928,American,http://en.wikipedia.org/wiki/Jim_Rathmann
525,525,bryan,NaN,NaN,Jimmy,Bryan,28/01/1926,American,http://en.wikipedia.org/wiki/Jimmy_Bryan
526,526,ruttman,NaN,NaN,Troy,Ruttman,11/03/1930,American,http://en.wikipedia.org/wiki/Troy_Ruttman
559,559,flaherty,NaN,NaN,Pat,Flaherty,06/01/1926,American,http://en.wikipedia.org/wiki/Pat_Flaherty_(rac...
577,577,musso,NaN,NaN,Luigi,Musso,28/07/1924,Italian,http://en.wikipedia.org/wiki/Luigi_Musso
578,578,hawthorn,NaN,NaN,Mike,Hawthorn,10/04/1929,British,http://en.wikipedia.org/wiki/Mike_Hawthorn
579,579,fangio,NaN,NaN,Juan,Fangio,24/06/1911,Argentine,http://en.wikipedia.org/wiki/Juan_Manuel_Fangio
581,581,collins,NaN,NaN,Peter,Collins,06/11/1931,British,http://en.wikipedia.org/wiki/Peter_Collins_(ra...
593,593,parsons,NaN,NaN,Johnnie,Parsons,04/07/1918,American,http://en.wikipedia.org/wiki/Johnnie_Parsons
611,611,hanks,NaN,NaN,Sam,Hanks,13/07/1914,American,http://en.wikipedia.org/wiki/Sam_Hanks
628,628,sweikert,NaN,NaN,Bob,Sweikert,20/05/1926,American,http://en.wikipedia.org/wiki/Bob_Sweikert
641,641,taruffi,NaN,NaN,Piero,Taruffi,12/10/1906,Italian,http://en.wikipedia.org/wiki/Piero_Taruffi
642,642,farina,NaN,NaN,Nino,Farina,30/10/1906,Italian,http://en.wikipedia.org/wiki/Nino_Farina
647,647,ascari,NaN,NaN,Alberto,Ascari,13/07/1918,Italian,http://en.wikipedia.org/wiki/Alberto_Ascari
657,657,vukovich,NaN,NaN,Bill,Vukovich,13/12/1918,American,http://en.wikipedia.org/wiki/Bill_Vukovich
766,766,wallard,NaN,NaN,Lee,Wallard,07/09/1910,American,http://en.wikipedia.org/wiki/Lee_Wallard
786,786,fagioli,NaN,NaN,Luigi,Fagioli,1898-06-09,Italian,http://en.wikipedia.org/wiki/Luigi_Fagioli
812,813,maldonado,13.0,MAL,Pastor,Maldonado,09/03/1985,Venezuelan,http://en.wikipedia.org/wiki/Pastor_Maldonado
816,817,ricciardo,3.0,RIC,Daniel,Ricciardo,01/07/1989,Australian,http://en.wikipedia.org/wiki/Daniel_Ricciardo
821,822,bottas,77.0,BOT,Valtteri,Bottas,28/08/1989,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
829,830,max_verstappen,33.0,VER,Max,Verstappen,30/09/1997,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen